<div class="col-6">
  <%= image_tag post.photo, width:300, height:300 %>
  <b>
    <%= link_to post.title, post_path(post) %>
  </b>

  <% if user_signed_in? && post.user_id == current_user.id %>
  <%= link_to "edit", edit_post_path(post) %>
  <%= link_to "delete", post_path(post), method: :delete%>
  <%end%>
</div>
