  <div class="col-sm">
    <h4>
      <%= link_to post.title, post_path(post) %>
    </h4>
  </div>
  <div class="col-6">
    <%= image_tag post.photo, width:300, height:300 %>
    <div class="col-6">
      <span class="p-2 text-dark"><%= link_to "Редагувати", edit_post_path(post), :class => "btn btn-outline-success" %></span>
      <span class="p-2 text-dark"><%= link_to "Видалити", post_path(post), method: :delete, :class => "btn btn-outline-danger" %></span>
    </div>
  </div>
